@font-face {
  font-family: DMSans;
  src: url(../assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: DMSans, sans-serif;
}

.root {
  width: 100%;
  /* max-width: 1440px; */
  display: flex;
  align-items: center;
  justify-content: center;
}