.invest{
    display: flex;
    flex-direction: row;
    gap: 8rem;
    padding: 0px 180px;
}

.invest .img{
    width: 26rem;
    background-color: rgb(234, 235, 235);
    border-radius: 25px;
}
.invest .arrow{
     display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: rgb(244, 247, 246);
}
.investment{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}